<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Suite -->
<suite name="StepperFormSuite">
	<!-- Parameters -->
	<parameter name="browser" value="Chrome"></parameter>
  	<parameter name="url" value="http://localhost:3001"></parameter>
  	<!-- Parameters -->
 <!-- Test --> 	
  <test thread-count="5" name="LoginTest">  	
    <classes>
      <class name="com.stepperform.testcases.LoginPageTest"/>
      <!--<class name="com.stepperform.testcases.VehicleInfoTest"/>-->
    </classes>
  </test>
  <test thread-count="5" name="VehicleInfoTest">  	
    <classes>
      <class name="com.stepperform.testcases.VehicleInfoTest"/>
      <!--<class name="com.stepperform.testcases.VehicleInfoTest"/>-->
    </classes>
  </test>
 <!-- Test -->
</suite> 
<!-- Suite -->
